<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    
    <%= image_tag "profile.jpg", 
    width: 300 , alt: "Profile Image" %>
  </div> 
  <div class="col-md-8">
    <p>I'm a Developer with 5 years of experience in diverse areas, such as Web Development, 
    Integration Services, ETL processes and Big Data.</p>
    <p>My passion is to be proactive and be continuously learning the cutting edge technologies.</p>
  </div>
</div>